section {
    font-family: Arial,verdana !important;
}

.search-history-scope {
  color:
#808483;
font-size:
11.9px;	
font-weight:
600;
}

.search-history-secondary {
  color:
#3a3a3a;
font-size:
14px;	
line-height:
22.4px;
letter-spacing:
0.14px;
word-spacing:
0px;
font-weight:
500;
}
.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem; }
    .ngx-pagination::before, .ngx-pagination::after {
      content: ' ';
      display: table; }
    .ngx-pagination::after {
      clear: both; }
    .ngx-pagination li {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      margin-right: 0.0625rem;
      border-radius: 0; }
    .ngx-pagination li {
      display: inline-block; }
    .ngx-pagination a,
    .ngx-pagination button {
      color: #0a0a0a; 
      display: block;
      padding: 0.1875rem 0.625rem;
      border-radius: 0; }
      .ngx-pagination a:hover,
      .ngx-pagination button:hover {
        background: #e6e6e6; }
    .ngx-pagination .current {
      padding: 0.1875rem 0.625rem;
      background: #2199e8;
      color: #fefefe;
      cursor: default; }
    .ngx-pagination .disabled {
      padding: 0.1875rem 0.625rem;
      color: #cacaca;
      cursor: default; } 
      .ngx-pagination .disabled:hover {
        background: transparent; }
    .ngx-pagination a, .ngx-pagination button {
      cursor: pointer; }
  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before { 
    content: '«';
    display: inline-block;
    margin-right: 0.5rem; }
  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    content: '»';
    display: inline-block;
    margin-left: 0.5rem; }
  .ngx-pagination .show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); }
  .ngx-pagination .small-screen {
    display: none; }
  @media screen and (max-width: 601px) {
    .ngx-pagination.responsive .small-screen {
      display: inline-block; } 
    .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
      display: none; }
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #00663C!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00663C;
  }

  mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 22px;
    height: 22px;
    position: relative;
    z-index: 1000;
  }
  .checkbox-text{
    position: relative;
    top: -22px;
  }

  .search-history-title{
    color:
    #316187;
    font-size:
    16px;
    line-height:
    19.2px;
    letter-spacing:
    0.16px;
    word-spacing:
    0px;	
    font-weight:
    400;
  }
