/* You can add global styles to this file, and also import other style files */
.accent-bg{
    background-color: #00663c;
}

.anti-round {
    border-radius: 0 !important;
}


.anti-round-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

body{
    font-family: Arial,verdana;
}
.accent-title-color {
    color: #44707b;
}

.accent-header-color {
    color: #4d6b82;
}

.fa-rotate-lite{
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #2e5370;
}

.myfolder-list-item-bg {
    background-color: #E5EFEB;
}