/* You can add global styles to this file, and also import other style files */
.accent-bg{
    background-color: #00663c;
}

.anti-round {
    border-radius: 0 !important;
}


.anti-round-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

body{
    font-family: Arial,verdana;
}
.accent-title-color {
    color: #44707b;
}

.accent-header-color {
    color: #4d6b82;
}

.fa-rotate-lite{
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #2e5370;
}

.myfolder-list-item-bg {
    background-color: #E5EFEB;
}

.doc-title {
    font-size: 15px;
}
.xxggxxqqxxss {
    border-bottom: 4px solid #FFE564;
}

.row{
    margin-left: auto;margin-right: auto;
}

.navbar .fa {
    font-size: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

/* Nav */
.nav-cell {
    color: black;
    font-weight: 500;
    border-left: 1px solid gainsboro;
    height: 100%;
    margin-bottom: auto;
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: 20px;
}

.last-nav-cell {
    border-right: 1px solid gainsboro;
}

a{
    text-decoration: none;
}

.navbar {
    align-items: stretch;
}

.load-more {
    text-align: center;
    padding: 10px;
}

.load-more {
    text-align: center;
    padding: 10px;
    max-width: 200px;
    margin: 30px auto;
    cursor: pointer;
}

.load-more:hover {
    background-color: #C95E39;
}   

.load-more p {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 17px;
}


/* Nav Ends */
/* mat-checkbox {
    color: rgb(0,178,0);
    /deep/ .mat-checkbox-background {
        background-color: rgb(0,178,0);
    }

    /deep/ &.mat-checkbox-focused{
        .mat-ink-ripple{
            background-color: rgba(0, 178, 0, .26);
        }
    }
} */
