
  .modal-control {
    background: #5A7A8E;
    width: 10%;
  }

  .modal-center {
    background: #E5EFEB;
  }

  .modal-right-sidebar {
    background: white;
    width: 20%;
  }

  .modal-close-btn {
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center; 
    border-radius: 50%;
    font-size: 50px;
    border: 1px solid #5A7A8E;
    display: inline-block;
    cursor: pointer;
  }

  .modal-close-btn:hover{
    background-color: #3a3a3a;
    
  }