<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-start p-0">
            <div class="modal-control align-self-stretch d-flex align-items-center justify-content-center">
                <i (click)="closeModal()" class="fas fa-times text-light modal-close-btn"></i>
            </div>
            <div *ngIf="docViewing" class="modal-center align-self-stretch flex-grow-1" style="overflow-y: scroll;">
                <div (click)="closeModal()"
                    class="mobile-doc-view-modal-close d-flex justify-content-between align-items-center">
                    <span class="align-self-center">
                        <i style="font-size: 20px; line-height: 20px;vertical-align: middle;"
                            class="fas fa-chevron-left me-1"></i>
                        <i class="fa fa-search fa-rotate-90 me-1"></i>
                        <span>BACK TO SEARCH RESULTS LIST</span>
                    </span>

                    <span>
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>
                <app-doc-card class="app-doc-card pb-2 pl-2 pr-2 pt-0" [style]="'doc-container-modal'"
                    [doc]="docViewing" [searchTerms]="[]" [searchQuery]="''" (saveDoc)="saveToWorkspace(docViewing)"
                    (viewDoc)="viewDocument($event)">
                </app-doc-card>
                <div class="{{style}} d-flex justify-content-start">
                    <div class="doc-modal-left-offset">
                        <figure class="figure pull-left text-center mr-2 mb-0" style="width: 60px;">
                            <img style="visibility: hidden;" src="./../../../assets/images/book-placeholder.jpg"
                                width="60" height="60" class="figure-img img-fluid"
                                alt="A generic square placeholder image with rounded corners in a figure."><br>
                        </figure>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-start align-self-center mx-3">
                            <h2 style="min-width: 100px;" class="mb-0 text-secondary">Details</h2>
                            <div class="line align-self-center"></div>
                        </div>

                        <div class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Title</h3>
                            <div class="flex-grow-1 mt-1">
                                <span>{{docViewing.title}}</span>
                            </div>
                        </div>


                        <div *ngIf="docViewing.facets.contributors.length>0"
                            class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Author</h3>
                            <div class="flex-grow-1 mt-1">
                                <p class="" *ngFor="let contrib of docViewing.facets.contributors; let j = index">
                                    {{contrib.text}}{{j==docViewing.facets.contributors.length-1?'':';
                                    '}}</p>
                            </div>
                        </div>

                        <div *ngIf="docViewing.facets.topics.length>0"
                            class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Subjects</h3>
                            <div class="flex-grow-1 mt-1">
                                <p class="" *ngFor="let topic of docViewing.facets.topics; let j = index">
                                    {{topic.text}}</p>
                            </div>
                        </div>

                        <div *ngIf="docViewing.source" class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Is Part Of</h3>
                            <div class="flex-grow-1 mt-1">
                                <ng-container *ngIf="docViewing.source">
                                    <p class="m-0 doc-source font-weight-normal font-italic">{{docViewing.source}}
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                        <div *ngIf="docViewing.description" class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Description</h3>
                            <div class="flex-grow-1 mt-1">
                                <ng-container *ngIf="docViewing.source">
                                    <p class="m-0 doc-source font-weight-normal font-italic">
                                        {{docViewing.description}}
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                        <div *ngIf="docViewing.publisher" class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Publisher</h3>
                            <div class="flex-grow-1 mt-1">
                                <ng-container *ngIf="docViewing.source">
                                    <p class="m-0 doc-source font-weight-normal font-italic">
                                        {{docViewing.publisher}}
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                        <div *ngIf="docViewing.language" class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Language</h3>
                            <div class="flex-grow-1 mt-1">
                                <ng-container *ngIf="docViewing.source">
                                    <p class="m-0 doc-source font-weight-normal font-italic">
                                        {{docViewing.language}}
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                        <div *ngIf="docViewing.allIdentifiers&&docViewing.allIdentifiers.length>0"
                            class="d-flex justify-content-start align-self-top mx-3">
                            <h3 style="min-width: 100px;" class="mb-0">Identifier</h3>
                            <div class="flex-grow-1 mt-1">

                                <p *ngFor="let id of docViewing.allIdentifiers"
                                    class="m-0 doc-source font-weight-normal font-italic">
                                    {{id}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-right-sidebar align-self-stretch">

            </div>
        </div>
    </div>
</div>