<nav class="navbar p-0">
    <a class="navbar-brand" href="#">
        <img src="./../../../assets/images/library-logo.png" class="d-inline-block align-top ur-logo" alt="">
    </a>
    <div class="d-none d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-stretch flex-grow-1">
        <div class="nav-cell ">
            <a class="nav-center-menu" href="#">New<br />Search</a>
        </div>
        <div class="nav-cell">
            <a class="nav-center-menu" href="#">e-Journal<br />Titles</a>
        </div>
        <div class="nav-cell">
            <a class="nav-center-menu" href="#">Databases</a>
        </div>
        <div class="nav-cell">
            <a class="nav-center-menu" href="#">Browse</a>
        </div>
        <div class="nav-cell">
            <a class="nav-center-menu" href="#">Help</a>
        </div>
        <div class="nav-cell last-nav-cell">
            <a class="nav-center-menu" href="#">Citation<br />Finder</a>
        </div>

    </div>
    <div class="d-flex align-items-center nav-profile-menu">
        <div class="d-flex align-items-center px-3 nav-toggle-icon">
            <a [routerLink]="['/library/search']">
                <i style="color: black;" class="fa fa-search fa-rotate-90 text-dark"></i>
            </a>
        </div>
        <div class="dropdown d-none d-md-flex d-lg-flex d-xl-flex align-items-center">
            <button class="btn btn-light user-profile-btn" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{username}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</nav>

<p style="display: none;" class="quick-find-text">Quick Find <i class="fas fa-caret-down"
        style="margin-left: 20px;"></i></p>
<section class="row nav-accent-bg mx-0 nav-section">
    <div class="col-md-3 px-0">

    </div>
    <div class="col-md-6">
        <form style="width: 100%;" (submit)="search()">
            <div class="input-group input-group-lg">
                <input [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" type="text"
                    class="form-control search-bar-input" placeholder="Quick Find">
                <div class="input-group-append">
                    <button class="btn btn-lg bg-white anti-round-left search-bar-btn" type="submit"><i
                            class="fa fa-search fa-rotate-90"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 px-0">

    </div>
</section>
<section style="width: 100%; height: 47px;" class="accent-bg">

</section>
<section class="row mx-0">
    <div class="col-md-2">

    </div>

    <div class="col-md-9 myfolder-center-console">
        <div class="d-flex justify-content-start align-items-stretch top-batch-menu" style="height: 60px;">
            <div style="width: 160px;border-right: 1px solid lightgray;">

            </div>
            <div *ngIf="selectedTabIndex==0" class="d-flex">
                <span style="margin-left: 20px; white-space: nowrap;"
                    class="d-flex justify-content-start align-self-center cursor-pointer">
                    <span (click)="editBatchSavedRecordsLabels()" class="align-self-center myfolder-menu-text">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span style="margin-left: 10px; margin-right: 10px;">ADD LABELS</span>
                    </span>
                    <button style="visibility: hidden;" #mtfolderEditLabelBtn="matMenuTrigger"
                        [matMenuTriggerFor]="myFolderEdLabmenu">
                    </button>
                    <mat-menu #myFolderEdLabmenu="matMenu">
                        <div class="d-flex flex-column" style="padding: 10px;">
                            <strong *ngIf="batchEditLabel.selected&&batchEditLabel.selected.length>0">ASSIGNED
                                LABELS</strong>
                            <p class="label-items cursor-pointer d-flex justify-content-between align-items-center"
                                (click)="changeLabel(label, 'remove')" *ngFor="let label of batchEditLabel.selected">
                                <span>{{label}}</span>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </p>
                            <strong *ngIf="batchEditLabel.all&&batchEditLabel.all.length>0">AVILABLE
                                LABELS</strong>
                            <p *ngFor="let label of batchEditLabel.all" (click)="changeLabel(label, 'add')"
                                class="label-items cursor-pointer  d-flex justify-content-between align-items-center">
                                <span>{{label}}</span>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </p>
                            <form (ngSubmit)="submitLabel()" class="form">
                                <mat-form-field (click)="$event.stopPropagation();$event.preventDefault();">
                                    <mat-label>ADD NEW LABELS</mat-label>
                                    <input matInput [(ngModel)]="newLabel" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </form>
                        </div>
                    </mat-menu>
                    <span (click)="deleteBatchSavedRecords()"
                        class="d-flex align-self-center justify-content-center fa-stack fa-1x cursor-pointer myfolder-menu-text">
                        <i class="fas fa-slash fa-stack-1x"></i>
                        <i class="fa fa-thumbtack fa-stack-1x"></i>
                    </span>
                </span>
            </div>
            <div *ngIf="selectedTabIndex==1" class="d-flex">
                <span style="margin-left: 20px;"
                    class="d-flex justify-content-center align-self-center fa-stack fa-1x cursor-pointer myfolder-menu-text">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i (click)="deleteBatchSavedSearch()" class="fa fa-thumbtack fa-stack-1x"></i>
                </span>
            </div>
            <div *ngIf="selectedTabIndex==2" class="d-flex">
                <span style="margin-left: 20px;"
                    class="d-flex justify-content-center align-self-center myfolder-menu-text">
                    <i (click)="saveBatchSearchedHistory()" style="margin-right: 20px;"
                        class="fa fa-thumbtack cursor-pointer"></i>
                    <i (click)="deleteBatchSearchedHistory()" class="fa fa-solid fa-trash cursor-pointer"></i>
                </span>
            </div>
        </div>
        <mat-tab-group [(selectedIndex)]="selectedTabIndex" ngDefaultControl (selectedTabChange)="onTabChanged($event);"
            animationDuration="600ms" class="remove-border-bottom">

            <mat-tab label="SAVED RECORDS">
                <!-- <ng-template matTabContent> -->
                <app-saved-records (edilAllLabels)="edilAllLabels($event)"></app-saved-records>
                <!-- </ng-template> -->
            </mat-tab>
            <mat-tab label="SAVED SEARCHES">
                <!-- <ng-template matTabContent> -->
                <app-saved-search></app-saved-search>
                <!-- </ng-template> -->
            </mat-tab>
            <mat-tab label="SEARCH HISTORY">
                <!-- <ng-template matTabContent> -->
                <app-search-history (forceRefresh)="forceRefresh($event)"></app-search-history>
                <!-- </ng-template> -->
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="col-md-1">

    </div>
</section>