<div class="card mt-5" style="width: 18rem;" style="margin: 0 auto; max-width: 400px;">
    <div class="card-body">
        <div class="text-center">
            <h5 class="card-title">Academic Digital Library</h5>
            <p class="card-text">Login</p>
            <p *ngIf="err" class="card-text text-danger">{{err}}</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()">
            <div class="form-group mb-2">
                <label for="login-email">Email: </label>
                <input class="form-control" id="login-email" type="email" formControlName="email">
                <small class="form-text text-danger"
                    *ngIf="this.loginForm.controls.email.touched && this.loginForm.controls.email.errors?.required">Email
                    is required</small>
                <small class="form-text text-danger"
                    *ngIf="this.loginForm.controls.email.touched && this.loginForm.controls.email.errors?.email">Invalid
                    email address</small>
            </div>
            <div class="form-group mb-2">
                <label for="login-password">Password: </label>
                <input class="form-control" id="login-password" type="password" formControlName="password">
                <small class="form-text text-danger"
                    *ngIf="this.loginForm.controls.password.touched && this.loginForm.controls.password.errors?.required">Password
                    is required. </small>
                <small class="form-text text-danger"
                    *ngIf="this.loginForm.controls.password.touched && this.loginForm.controls.password.errors?.invalidPassword">Password
                    must contain at least one upper case character, one lower case character, one number and must
                    have 6 or more characters</small>
            </div>
            <input class="btn btn-primary pull-right" type="submit" value="Login">
        </form>
    </div>
</div>