div{
    font-family: Arial,verdana !important;
}

.doc-container{
    background-color: #f3f3f3;
    border-bottom: 1px solid lightgray;
    padding: 10px 5px;
}

.doc-container-modal{
    background-color: #E5EFEB;
    padding: 20px 10px;
}

.doc-snippet i{
    font-size: 11px;
    color: #3a3a3a;
    /* font-weight: normal; */
    /* -webkit-text-stroke: 0.5px white; */
}

.availability-text {
    color:
#00804a;
font-size:
15px;
line-height:
21px;
vertical-align:
baseline;
letter-spacing:
normal;
word-spacing:
0px;	
font-weight:
400;
font-style:
normal;
}

.fa-gray-colour {
    color: #BEBEBE;
    font-size: 12px;
}

h6, .doc-author {
    color: #3a3a3a;
    font-size:
15px;	
line-height:
21px;
vertical-align:
baseline;
letter-spacing:
normal;
word-spacing:
0px;
font-weight:
400;
margin: 0px;
}

.peer-reviewed{
    font-size:
12px;	
line-height:
normal;
vertical-align:
baseline;
letter-spacing:
normal;
word-spacing:
0px;	
font-weight:
600;
color: #3a3a3a;
}

.doc-type {
    font-size:
11.25px;
line-height:
normal;
vertical-align:
baseline;
letter-spacing:
0.7875px;
word-spacing:
0px;
font-weight:
600;
font-style:
normal;
font-variant:
normal;
text-transform:
uppercase;
}

.doc-title {
color: #44707B;
font-size:
19px;
line-height:
24.7px;
vertical-align:
baseline;
letter-spacing:
normal;
word-spacing:
0px;
font-weight:
550;
}

.fa-thumbtack-save-doc {
    font-size: 17px;
}

.fa-quote-left, .fa-quote-right {
    font-size: 13px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #00663C!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00663C;
  }

  mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 22px;
    height: 22px;
    position: relative;
    z-index: 1000;
  }
  .checkbox-text{
    position: relative;
    top: -22px;
  }

  .remove-doc {
      color: #C34D24;
  }

  .btn-save-search {
    border: 0px;
    color: #A2A2A2;
    border-radius: 20px;
    font-size:
    12px;	
    line-height:
    20px;
    vertical-align:
    baseline;
    letter-spacing:
    0.384px;
    word-spacing:
    0px;	
    font-weight:
    500;
    font-style:
    normal;
    font-variant:
    normal;
    text-transform:
    uppercase;
    padding: 4px 4px !important;
}

    .btn-save-search:hover {
    color: #fff;
    background-color: rgb(36, 36, 36);
}

.doc-label-chip{
    color: rgba(0,0,0,.57);
    height: 2em;
    line-height: 2em;
    font-size: .85em;
    padding: 4px 7px;
    border-radius: 1em;
    margin-top: .75em;
    margin-right: .5em;
    border: 1px solid gray;
}

.label-items:hover {
    background: rgb(36, 36, 36);
    color: white;
}

.label-items{
    font-size: 13px;
    padding: 10px 5px;
}
