<div class="{{style}} d-flex justify-content-start" style="padding: 20px 12px;">
    <!-- <div *ngIf="itemCount" style="margin-right: 30px; margin-left: 20px;" class="mt-2" class="m-3">
        <p class="mb-0" style="width: 22px; border: 1px solid gray; text-align: center;">{{itemCount}}</p>
    </div> -->
    <div *ngIf="itemCount" class="d-flex">

        <div class="doc-check-large-device">
            <mat-checkbox (change)="savedDocCheck()" ngDefaultControl class="example-margin" [(ngModel)]="doc.selected">
            </mat-checkbox>
            <p class="mb-0 checkbox-text" style="width: 22px; text-align: center;">{{itemCount}}</p>

        </div>

        <div class="doc-check-small-device">
            <mat-checkbox *ngIf="parent=='saved-records' || mobileSelectEnbaled == true" (change)="savedDocCheck()"
                ngDefaultControl class="example-margin" [(ngModel)]="doc.selected">
            </mat-checkbox>
            <p [ngClass]="{'checkbox-text': parent=='saved-records' || mobileSelectEnbaled == true}" class="mb-0"
                style="width: 22px; text-align: center;">{{itemCount}}</p>

        </div>


    </div>
    <div class="m-3 mt-0 doc-image">
        <figure class="figure pull-left text-center mr-2 mb-0" style="width: 60px;">
            <img src="{{doc.imageUrl}}" width="60" height="60" class="figure-img img-fluid"
                alt="A generic square placeholder image with rounded corners in a figure."><br>
        </figure>
    </div>
    <div class="flex-grow-1 doc-text-info-box">
        <div style="width: 100%;">
            <span class="text-secondary doc-type">{{doc.type|uppercase}}</span>
            <em *ngIf="doc.isSaved==false" (click)="addBaselineSavedDoc(doc)" class="fa btn float-end float-right">
                <i class="fa fa-thumbtack fa-thumbtack-save-doc fa-rotate-lite" style="color:#888888;"></i>
            </em>
            <span *ngIf="doc.isSaved==true" (click)="addBaselineSavedDoc(doc)"
                class="fa-stack fa-1x remove-doc fa btn float-end float-right">
                <i class="fas fa-slash fa-stack-1x"></i>
                <i class="fa fa-thumbtack fa-stack-1x"></i>
            </span>
        </div>
        <p (click)="viewDocument(doc)" class="cursor-pointer doc-title mb-0">
            <title-highlight [needle]="searchQuery" [needles]="searchTerms" [haystack]="doc.title"></title-highlight>
        </p>
        <span class="doc-author">
            <span class="doc-author" *ngFor="let contrib of doc.facets.contributors; let j = index">
                <title-highlight [needle]="searchQuery" [needles]="searchTerms" [haystack]="contrib.text">
                </title-highlight>
                {{j==doc.facets.contributors.length-1?'':';
                '}}
            </span>
        </span>
        <ng-container *ngIf="doc.type=='book'&&doc.creationDate">
            <div>
                <h6 class="doc-author">{{doc.creationDate}}</h6>
            </div>
        </ng-container>
        <ng-container *ngIf="doc.source">
            <h6 class="m-0 doc-source font-weight-normal font-italic">{{doc.source}}</h6>
        </ng-container>
        <ng-container *ngIf="!doc.source&&(doc.facets.journalTitles&&doc.facets.journalTitles[0])">
            <h6>
                {{doc.facets.journalTitles[0].text}}
            </h6>
        </ng-container>
        <ng-container *ngIf="doc.snippet">
            <h6 class="m-0 doc-snippet font-weight-normal fst-italic">
                <i class="fa fa-quote-left font-weight-normal"></i>
                <title-highlight [needle]="searchQuery" [needles]="searchTerms" [haystack]="doc.snippet">
                </title-highlight>
                <i class="fa fa-quote-right"></i>
            </h6>
        </ng-container>
        <ng-container *ngIf="doc.peerReviewed||doc.openAccess">
            <p class="peer-reviewed" style="margin-top: 7px;">
                <span style="margin-right: 50px;" *ngIf="doc.peerReviewed"> <img height="17px"
                        src="./../../../assets/images/peer_reviewed.png" /> PEER REVIEWED</span>
                <span *ngIf="doc.openAccess"> <img height="17px" src="./../../../assets/images/open_access.png" /> OPEN
                    ACCESS</span>
            </p>
        </ng-container>

        <ng-container *ngIf="doc.linkText=='fulltext'||'available_in_institution'">
            <h6 (click)="openDocument()" class="availability-text cursor-pointer" *ngIf="doc.linkText=='fulltext'"><i
                    class="fa-gray-colour fas fa-link"></i> Full
                text available

                <!-- <i class="fas fa-external-link-alt"></i> -->
                &nbsp;<i class="fas fa-chevron-right fa-gray-colour"></i>
            </h6>

            <h6 (click)="openDocument()" class="availability-text cursor-pointer"
                *ngIf="doc.linkText=='available_in_institution'"><i class="fa-gray-colour fas fa-link"></i>Available
                at <span class="text-info">ARCHER
                    Library <i class="fas fa-chevron-right fa-gray-colour"></i></span></h6>
        </ng-container>
        <ng-container *ngIf="doc.linkText!='fulltext'&&doc.linkText!='available_in_institution'">
            <h6 (click)="openDocument()" class="availability-text cursor-pointer"><i
                    class="fa-gray-colour fas fa-link"></i> Online
                Access
                <!-- <i class="fas fa-external-link-alt"> </i>-->

                &nbsp;
                <i class="fas fa-chevron-right fa-gray-colour"></i>
            </h6>
        </ng-container>
        <ng-container *ngIf="parent=='saved-records'">

            <ng-container *ngIf="doc.labelsPopulated.length>0">
                <span class="doc-label-chip" *ngFor="let label of doc.labelsPopulated">{{label.title}}</span>
                <button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" type="button"
                    class="btn btn-outline-secondary btn-save-search">
                    <i class="fa fa-pencil"></i>
                </button>
            </ng-container>
            <button *ngIf="doc.labelsPopulated.length==0" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                type="button" class="btn btn-outline-secondary btn-save-search mt-1">
                <i class="fa fa-pencil"></i>
                ADD LABELS
            </button>
            <!-- <button mat-button style="visibility: hidden;" [matMenuTriggerFor]="menu" #menuTrigger>Menu</button> -->
            <mat-menu #menu="matMenu">
                <div class="d-flex flex-column" style="padding: 10px;">
                    <strong *ngIf="doc.labelsPopulated&&doc.labelsPopulated.length>0">ASSIGNED LABELS</strong>
                    <p (click)="removeLabel(label)"
                        class="label-items cursor-pointer d-flex justify-content-between align-items-center"
                        *ngFor="let label of doc.labelsPopulated">
                        <span>{{label.title}}</span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </p>
                    <strong *ngIf="availableLabels.length>0">AVILABLE LABELS</strong>
                    <p (click)="addExistingLabel(label)"
                        class="label-items cursor-pointer  d-flex justify-content-between align-items-center"
                        *ngFor="let label of availableLabels">
                        <span>{{label}}</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </p>
                    <form (ngSubmit)="submitLabel()" class="form">
                        <mat-form-field (click)="$event.stopPropagation();$event.preventDefault();">
                            <mat-label>ADD NEW LABELS</mat-label>
                            <input matInput [(ngModel)]="newLabel" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </form>
                </div>
            </mat-menu>
        </ng-container>
    </div>
</div>