section {
  font-family: Arial,verdana !important;
}

.search-history-scope {
  color:
#808483;
font-size:
11.9px;	
font-weight:
600;
}

.search-history-secondary {
  color:
#3a3a3a;
font-size:
14px;	
line-height:
22.4px;
letter-spacing:
0.14px;
word-spacing:
0px;
font-weight:
500;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #00663C!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00663C;
  }

  mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 22px;
    height: 22px;
    position: relative;
    z-index: 1000;
  }
  .checkbox-text{
    position: relative;
    top: -22px;
  }

  .search-history-title {
    color:
    #316187;
    font-size:
    16px;
    line-height:
    19.2px;
    letter-spacing:
    0.16px;
    word-spacing:
    0px;	
    font-weight:
    400;
  }