<nav class="navbar p-0">
    <a class="navbar-brand" href="#">
        <img src="./../../../assets/images/library-logo.png" width="190" class="d-inline-block align-top" alt="">
    </a>
    <!-- <ng-container class="d-none d-md-block d-lg-block d-xl-block "> -->
    <div class="d-none d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-stretch flex-grow-1">
        <div class="nav-cell ">
            <a class="text-dark" href="#">New<br />Search</a>
        </div>
        <div class="nav-cell">
            <a class="text-dark" href="#">e-Journal<br />Titles</a>
        </div>
        <div class="nav-cell">
            <a class="text-dark" href="#">Database</a>
        </div>
        <div class="nav-cell">
            <a class="text-dark" href="#">Browse</a>
        </div>
        <div class="nav-cell">
            <a class="text-dark" href="#">Help</a>
        </div>
        <div class="nav-cell last-nav-cell">
            <a class="text-dark" href="#">Citation<br />Finder</a>
        </div>
    </div>
    <!-- </ng-container> -->
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center px-3 ">
            <a [routerLink]="['/my-folder']"><i style="color: black;" class="fa fa-thumbtack fa-rotate-lite"></i></a>
        </div>
        <div class="dropdown d-none d-md-flex d-lg-flex d-xl-flex align-items-center">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Gomes, Sebastian
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="border row accent-bg mx-0" style="padding: 20px 0 30px;">
    <div class="col-md-2 px-0">

    </div>
    <div class="col-md-8">
        <form style="width: 100%;" (submit)="search()">
            <div class="input-group mb-3 input-group-lg">
                <input [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                    placeholder="Quick Find">
                <div class="input-group-append">
                    <button class="btn btn-lg bg-white anti-round-left" type="submit"><i
                            class="fa fa-search fa-rotate-90"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 px-0">

    </div>
</section>
<section class="row sticky-top">
    <div class="col-md-2 px-0">

    </div>

    <div class="col-md-8 d-flex myfolder-list-item-bg">
        <div class="flex-grow-1">
            <span>
                <mat-checkbox ngDefaultControl class="example-margin" [(ngModel)]="allDocSelected"></mat-checkbox>
            </span>
            <span class="me-2 fst-italic"> 0 selected</span>
            <span class="me-2 fst-italic f"> PAGE 1</span>
            <span class="me-2 fst-italic"> 9,348 Results</span>
            <button type="button" (click)="saveSearch()" class="btn btn-outline-secondary btn-save-search">
                <i class="fa fa-thumbtack fa-rotate-lite"></i>
                Save Search
            </button>
        </div>
        <div class="d-flex">
            <span style="margin-right: 20px;" class="d-flex w-100 justify-content-center align-self-center">
                <i style="margin-right: 20px;" class="text-danger fa fa-thumbtack"></i>
                <i class="text-danger fa fa-solid fa-trash"></i>
            </span>
        </div>
    </div>

    <div class="col-md-2 px-0">

    </div>
</section>
<section class="row">
    <div class="col-md-2 px-0">

    </div>

    <div class="col-md-8 px-0">
        <ng-container *ngIf="documents!=null">
            <div class="doc-index-{{i}}" *ngFor="let doc of documents  | paginate: { id: 'document-search-paginator',
            itemsPerPage: pageSize,
            currentPage: currentPage,
            totalItems: totalDocuments }; let i = index"
                [ngClass]="{'card-border-strong': doc.isFocused, 'card-border':!doc.isFocused }"
                style="border-color: #bbbbbb;">
                <app-doc-card class="app-doc-card pb-2 pl-2 pr-2 pt-0" [doc]="doc" [searchTerms]="searchTerms"
                    [searchQuery]="searchQuery" (saveDoc)="saveToWorkspace($event)" (viewDoc)="viewDocument($event)">
                </app-doc-card>
            </div>
            <pagination-controls style="position: relative;" id="document-search-paginator"
                (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="9"
                directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </ng-container>
    </div>

    <div class="col-md-2 px-0">

    </div>

</section>